.App {
    width: 800px;
    box-sizing: border-box;

}

#root {
    display: flex;
    justify-content: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-enter {
    transform: translateX(350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}


.pageWrapper {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 15px; /*расстояние друг от друга*/

}

.navbar {
    height: 50px;
    width: 800px;
    display: flex;
    align-items: center;

    padding: 0 15px;
    background-color: plum;
}

.navbar_links {
    margin-left: auto;
}